.q-table thead {
    background-color: rgb(245, 246, 250);
}

.q-table thead * {
    font-size: 1rem;
}

.text-underline {
    text-decoration: underline;
}

.q-stepper--vertical .q-stepper__step-inner {
    padding: 0 !important;
}
